.signup-form{
    width:400px ;
    height: auto;
    background-color: azure;
    margin: 30px auto ;
    padding: 20px 15px;
    border-radius: 8px;
  box-shadow: 0 0 5px rgb(85, 149, 84);;
}
.gender{
    margin-left: 25px;
}
.signupbtn{
    display: block;
    margin-left: 60px;
    margin-top: 30px;
    
}
.heading-signup{
    margin-left: 50px;
    text-decoration: none;
}